nav ul{
    list-style: none;
    width: 700px;
    background-color: #238f3a;
    padding: 2px;
    text-align: center;
    margin: auto;
}

nav ul li{
    /*border: 1px solid black;*/
    background-color: #4cbd64;
    width: 150px;
    margin: 5px;
    padding: 5px;
    display: inline-block;
}

nav ul li a{
    display: block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 1.5s;
}

nav ul li a:hover{
    /*margin-left: 10px;*/
    background-color: #93dca2;
}